* {
  font-size: 40px;
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
}

a {
  color: red;
  text-decoration: none; color: red;
}

.recipes {
  padding: auto;
  border-radius: 4px;
  gap: 8px;
  display: flex;
}

img {
  max-width: 490px;
}